.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 85%;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgba(49, 48, 53, 0.516);
    /* background-color: powderblue; */
}

.info-wrapper > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-wrapper {
    justify-content: space-around;
    height: 70%;
    width: 95%;
    border-radius: 10px;
    /* background-color: darksalmon; */
}

.game-wrapper > * {
    display: flex;
    align-items: center;
}

.timer {
    flex-direction: column;
    font-size: 28px;
    padding: 5px;
    height: 50px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    color: rgb(0,255,175);
    /* background-color: rgba(62, 71, 109, 0.881); */
    /* background-color:palevioletred; */
}

.board-wrapper {
    border-radius: 10px;
    height: 500px;
    width: 500px;
    min-width: 500px;
    min-height: 500px;
    background-color: slategray;
    /* background-color: tomato; */
}

.tile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 480px;
    min-width: 480px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(68, 77, 85);
    /* background-color: mediumvioletred; */
}

.tile-wrapper > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    border-radius: 20px;
    margin: 5px;
    height: 105px;
    width: 105px;
    box-shadow: 0 0 8px 2px;             
    background-color:rgb(122, 91, 184);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selected {
    /* background-color: blue; */
    /* border: 2px solid tomato; */
    /* box-shadow: 0 0 8px 8px tomato; */
    box-shadow: 0 0 8px 8px rgb(26, 171, 149);
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 45px;
    border-radius: 50%;
    width: 95%;
    height: 95%;
    color: whitesmoke;
    box-shadow: 0 0 10px 2px rgb(146, 111, 216);
    background-color: mediumpurple;
}

.game, .score-board {
    flex-direction: column;
    border-radius: 10px;
    height: 450px;
    width: 300px;
    /* background-color: teal; */
    background-color: slategray;
}

.game > * , .score-board > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    text-transform: uppercase;
    /* margin: 15px 15px 5px 15px; */
    /* background-color: seagreen; */
}

.side-content {
    border-radius: 10px;
    height: 100%;
    width: 90%;
    margin: 5px 15px 15px 15px;
    /* background-color:mediumpurple; */
    background-color: plum;
}

.leader-board li {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px 15px 15px;
}

.leader-score {
    color: tomato;
}

.word-bank {
    flex-direction: column;
    width: 600px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
    /* background-color: plum; */
    background-color: slategray;
}

.words {
    display: flex;
    flex-direction: column;
    margin: 5px 15px 15px 15px;
    width: 95%;
    height: 80%;
    border-radius: 10px;
    background-color:plum;
}

.word-box {
    display: flex;
    flex-direction: column;
    background-color: tomato;
}

.active-word {
    background-color: teal;
}

.found-words {
    background-color: coral;
}