/* .end-game-modal-container {
  transform: scale(1);
  background:thistle;
} */

.game-over {
    font-size: 30px;
}

.end-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background: maroon; */
}

.winner {
  display: flex;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
  color: tomato;
}

.end-scores-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  /* background: violet; */
}

.player-end-modal {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* background: turquoise; */
}
.end-player-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: coral; */
}

.end-words {
    text-transform: uppercase;
    /* background: lightsalmon; */
}

.end-scores {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    width: 100%;
    max-width: 100%;
    height: 33%;
    max-height: 33%;
    overflow: auto;
    /* border-radius: 20px; */
    /* background: peru; */
}

.player {
    display: flex;
    justify-content: center;
    width: 100%;
    background: coral;
}

.final-word-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 90%;
    border-radius: 20px;
    /* background: pink; */
}

.all {
    font-size: 10px;
    /* display: flex; */
    /* flex-direction: column;
    flex-wrap: wrap; */
    margin-right: 2px;
    max-width: 30%;
    /* background:darkslateblue; */
}

.end-results {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    height: 70%;
    /* background:violet;   */
}

.round-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: steelblue;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 7%;
}

.roundup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: steelblue solid 2px;
    border-radius: 10px;
    margin: 10px;
    height: 90%;
    /* background: steelblue; */
}

.end-player-word-list {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    width: 100%;
    height: 93%;
    border-radius: 0px 0px 8px 8px;
    background:slategray;
    /* background: lightgreen; */
}

.end-player-word-list li {
    margin-bottom: 5px;
    /* width: 5%; */
}

.quit-game {
    font-size: 20px;
    color: whitesmoke;
    background: transparent;
}

.quit-game:hover {
    cursor: pointer;
    color: rgb(14,188,246);
}
