.nav-wrapper {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    background-color: rgb(47,49,54);
}

.session-links > * {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 5px;
    background-color: thistle;
}

.session-links-wrapper {
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 5px;
    background-color: tomato;
}
