.nav-wrapper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(39, 43, 52);
}

.nav-wrapper > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.session-links-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15%;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.session-link {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 2.5%;
    font-size: 15px;
    cursor: pointer;
}

.new-game {
    height: 100%;
    width: 15%;
    font-size: 15px;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-header {
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-header {
    height: 100%;
}

.game-header > * {
    display: flex;
    align-items: center;
    height: 100%;
}

.end-wrap {
    justify-content: space-between;
}

.stacked { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.last-two {
    display: flex;
    height: 100%;
    align-items:flex-end;
}

.d {
    font-size: 85px;
    justify-content: center;
    align-items: center;
}

.is {
    font-size: 40px;
}

.array {
    font-size: 35px;
}

.a {
    display: flex;
    align-items: flex-end;
    font-size: 50px;
}

.y {
    display: flex;
    align-items: flex-end;
    font-size: 70px;
    margin-left: -10px;
}
