.tile {
  border-radius: 20px;
  margin: 5px;
  height: 105px;
  width: 105px;
  box-shadow: 0 0 8px 2px;
  background-color: rgb(122, 91, 184);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.selected {
  box-shadow: 0 0 8px 8px rgb(26, 171, 149);
}

.selected-letter {
  color: rgb(26, 171, 149);
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 45px;
  border-radius: 50%;
  width: 95%;
  height: 95%;
  color: whitesmoke;
  box-shadow: 0 0 10px 2px rgb(146, 111, 216);
  background-color: mediumpurple;
}
