.words {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 240px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.word-box {
  display: flex;
  align-items: start;
  flex-flow: column wrap;
  min-height: 330px;
  max-height: 330px;
  min-width: 240px;
  max-width: 240px;
  margin-top: 20px;
}

.word-box li {
  text-transform: lowercase;
  color: rgb(26, 171, 149);
  flex-shrink: 0.5;
  min-width: 20%;
  max-width: 20%;
  font-size: clamp(0.6em, -0.4000em + 8.0000vw, 0.8em);
  margin: 4px 4px 4px 4px;
  transform: scale(0.8);
}

.active-word {
  width: 90%;
  color: rgb(14, 188, 246);
  font-size: 16px;
  border-bottom: solid slategray;
  display: flex;
  justify-content: left;
  align-items: center;
}

.word-display {
  width: 200px;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Chrome and Safari */
.word-display::-webkit-scrollbar {
  display: none;
}

.active-word > button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Press Start 2P';
  letter-spacing: 2px;
  border: 0.125rem solid transparent;
  line-height: 10px;
  border-radius: .5rem;
  background: rgb(54, 57, 63);
  box-shadow: 0 0.125rem 0 lightgrey;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.active-word > button:hover:not(.invalid) {
  filter: brightness(120%);
}
.active-word > button:active:not(.invalid) {
  box-shadow: 0 0 0;
  transform: translateY(0.125rem);
}

.submit-word {
  color: rgb(0, 255, 175);
  margin-right: 5px;
  padding-right: .70rem;
  padding-left: .90rem;
  padding-bottom: calc((2rem - 1.1em) / 2);
}

.clear-word {
  color:  crimson;
  margin-left: 5px;
  padding-top: calc((2.75rem - 1.1em) / 2);
  padding-bottom: calc((2.75rem - 1.1em) / 2);
  padding-right: .67rem;
  padding-left: .95rem;
}

.invalid {
  color: slategray;
}
